.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.container {
  background-color: burlywood;
  padding: 2% 5%;
}

.count {
  background-color: #fff;
  color: #000;
  /* width: 5rem; */
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

span {
  font-weight: 700;
}

.error {
  background-color: rgb(219, 30, 30);
  padding: 5px;
  margin: 10px 0;
  font-size: 20px;
}

.btn {
  padding: 10px;
  margin: 10px;
  width: 5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.inc {
  background-color: green;
}

.reset {
  background-color: red;
}

.dec {
  background-color: yellow;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
